<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body class="home">
    <header>
        <section class="top-page">
            <div class="top-header">
                <img class="logo" src="./images/logo-mercado-liebre.svg" alt="logo">
            <nav class="searchBar">
                <form action="" class="form">
                    <button class="lupita"><i class="fas fa-search"></i></button>
                    <input type="text" placeholder="Buscar productos...">
                </form>
            </nav>
            </div>
            <div class="subtitulo">
                <p class="p"><i class="fas fa-hand-holding-usd">
                    Compra en cuotas y sin tarjeta de credito
                </i></p>
            </div>
        </section>
        <section class="menu">
            <nav class="nav-menu">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="icon-menu">
                <ul>
                    <li><a href="">Crea tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li><a href="">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </section>
        <button class="burgerMenu"><i class="fas fa-bars"></i></button>
    </header>
    <section>

    </section>
    <footer>
        <i class="fas fa-credit-card"></i>
        <h4>
            Pagá con tarjeta o en efectivo
        </h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fas fa-gift"></i>
        <h4>
            Envío gratis desde $2.500
        </h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fas fa-user-shield"></i>
        <h4>
            Seguridad, de principio a fin
        </h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>
</html>